*{
  box-sizing: border-box;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.box{
  border: 2px solid firebrick;
  width: 100%;
}
.box legend{
  text-align: center;
}

.allMeals{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}






